# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production
dist
build
storybook-static
dist
dist-ssr
*.local

# Misc
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp_*
TMP_*

# TypeScript
*.tsbuildinfo 